.footer {
	background-color: rgba(20,20,180,0.15);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4%;
}
.vert {
	display: inline-block;	/* table-cell doesn't yield the desired look with relative sizes*/
	vertical-align: baseline;
	width: 100%;
	text-align: center;
	font-size: 75%;
}
@media screen and (max-width: 500px) {
	  .large {
	    font-size: 300%;	/* default: 600%? */
	  }
	  .vert {
	  	font-size: 70%;	/* default: 75% */
	  }
	}
}